      <main>
        <div class="c-head">

            <nav class="navbar navbar-expand navbar-light bg-light">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">檀家名簿 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">過去帳</a>
                </li>
              </ul>
              <div class="">
                <form class="form-inline my-1 c-form justify-content-end">
                  <input class="form-control" type="search" placeholder="Search">
                  <button class="btn btn-outline-success ml-0 my-1" type="submit">Search</button>
                </form>
              </div>
            </nav>

            <div class="">
              <div class="float-left ml-2">
                <h2 class="d-inline"><a class="badge badge-success active" href="#">檀家名簿</a></h2>
                <h2 class="d-inline"><a class="badge badge-success" href="#">過去帳</a></h2>
              </div>
              <div class="float-right">
                <form class="form-inline my-1 c-form d-inline">
                  <input class="form-control" type="search" placeholder="Search">
                  <button class="btn btn-outline-success ml-0 my-1" type="submit">Search</button>
                </form>
              </div>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                並べ替え
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">明治○年</a>
                <a class="dropdown-item" href="#">大正○年</a>
                <a class="dropdown-item" href="#">昭和○年</a>
                <a class="dropdown-item" href="#">平成○年</a>
                <a class="dropdown-item" href="#">令和○年</a>
              </div>
            </div>

          </div>

          <div class="container-fluid c-table">
            <table class="table table-striped border">
              <thead>
                <tr class="text-nowrap">
                  <th scope="col">#</th>
                  <th scope="col">フリガナ</th>
                  <th scope="col">俗名</th>
                  <th scope="col">戒名</th>
                  <th scope="col">命日</th>
                  <th scope="col">享年</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>イイダ　タロウ</td>
                  <td class="text-nowrap"><a href="#">飯田 太郎</a></td>
                  <td>戒名戒名戒名戒名</td>
                  <td>1970/1/1</td>
                  <td>100</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>カトウ　ジロウ</td>
                  <td class="text-nowrap"><a href="#">加藤 二郎</a></td>
                  <td>戒名戒名戒名戒名</td>
                  <td>1980/2/2</td>
                  <td>100</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>サトウ　サブロウ</td>
                  <td class="text-nowrap"><a href="#">佐藤 三郎</a></td>
                  <td>戒名戒名戒名戒名</td>
                  <td>1990/3/3</td>
                  <td>100</td>
                </tr>
              </tbody>
            </table>
          </div>
      </main>
