<main class="kaiki">
  <div class="k-head">
    <h1>年忌のお知らせ</h1>
  </div>
  <div class="k-main">
    <div class="">
      <div class="">
        合掌
      </div>
      <div class="">
        <p class="k-indent">季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶
          季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶季節の挨拶
          季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>
          さて、
        </p>
        <div class="k-line">
          <span>「railsその年度」</span>
          <span>「rails命日　二月三十日」</span><br>
          <span class="k-big">「rails戒名」<%= @past.penname %></span><br>
          <span>「rails俗名」</span>様の
          <span>「rails年回忌」</span>が参ります。
        </div>
        <br>
        法事をお考えの場合はご都合の良い日をお知らせください。<br>
        早めに連絡いただきますとご希望の時間が<br>とりやすくなりますので、お早めにご連絡ください。
      </div>
    </div>
  </div>
  <div class="k-end">
    <div class="k-big">
      お寺の名前
    </div>
    <div class="k-address">
      <div class="">
        山梨県　富士吉田市　
      </div>
      <div class="">
        電話番号:０１９２８２１１８０２１
        <br>
        FAX：８１９７３４５９４７１３８９
      </div>
    </div>
  </div>
</main>
