<%= stylesheet_link_tag 'home' %>
<div class="m-5">
  <h2>プライバシーポリシー</h2>
  <p>当社は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
  <div class="mx-5">
    <div class="mt-5">
      <h3>第1条（個人情報）</h3>
      <p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
    </div>
    <div class="mt-5">
      <h3>第2条（個人情報の収集方法）</h3>
      <p>当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレスなどの個人情報をお尋ねすることがあります。</p>
    </div>
    <div class="mt-5">
      <h3>第3条（個人情報を収集・利用する目的）</h3>
      <p>当社が個人情報を収集・利用する目的は，以下のとおりです。</p>
      <ul>
        <ol>
          1.当社サービスの提供・運営のため
        </ol>
        <ol>
          2.メンテナンス，重要なお知らせなど必要に応じたご連絡のため
        </ol>
        <ol>
          3.業務遂行上で必要となる当社からの問い合わせ、確認、およびサービス向上のための意見収集他お問合せ頂いた件への対応
        </ol>
      </ul>
    </div>
    <div class="mt-5">
      <h3 class="mb-3">第4条（プライバシーポリシーの変更）</h3>
      <ul>
        <ol>
          1.本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
        </ol>
        <ol>
          2.当社が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。
        </ol>
      </ul>
    </div>
    <div class="mt-5">
      <h3 class="">第5条（お問い合わせ窓口）</h3>
      <p>本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</p>
      <ul>
        <ol>
          住所：
        </ol>
        <ol>
          会社名：
        </ol>
        <ol>
          メールアドレス：
        </ol>
      </ul>
    </div>
  </div>
</div>
