// Place all the styles related to the dankas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hide{
  display: none;
}
.header{
  height: 120px;
  margin-top: 30px;
}
.span{
  -webkit-text-combine: horizontal;
}
.owner{
  padding-bottom: 7rem;
}
.o-header h1{
  display: inline;
}

.o-list, .o-pastlist{
  font-size: 1.2rem;
}
.oo{
  float: left;
  margin-right: 3rem;
}
.line{
  padding-bottom: 3px;
  border-bottom: 3px solid #808080;
  display: inline-block;
}
.ii{
  float: left;
  margin-right: 1rem;
}
.d-no{
  white-space: nowrap;
}
.d-yes{
  word-wrap: break-word;
}
.bottom-list{
  margin-right: 1rem;
}

.garlic{
  display: inline-block;
  transform: rotate(50deg)
}
.tbl-r05 td:first-child{
  text-align: center;
}
@media screen and (min-width: 1050px){
  .min-table{
    display: none;
  }
  .serch-box{
    margin-right: 2rem;
  }
  .tbl-r05{
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .danka-list{
    font-size: 1.2rem;
    line-height: 3rem;
    width: 100%;
  }
  .tbl-r05 th{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .tbl-r05 td{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .t-1{
    width: 7%;
    text-align: center;
  }
  .t-2{
    width: 15%;
  }
  .t-3{
    width: 15%;
  }
  .t-4{
    width: 55%;
  }
  .t-5{
    width: 12%;
  }
}
@media screen and (min-width: 641px)and (max-width: 1049px) {
  .serch-box{
    margin-right: 2rem;
  }
  .danka-list{
    font-size: 1.2rem;
    line-height: 3rem;
    width: 100%;
  }
  .tbl-r05{
  margin-right: 2rem;
  margin-left: 2rem;
  }
  .tbl-r05 th{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .tbl-r05 td{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .t-1{
    width: 5%;
    text-align: center;
  }
  .t-2{
    width: 15%;
  }
  .t-3{
    width: 15%;
  }
  .t-4{
    width: 50%;
  }
  .t-5{
    width: 12%;
  }
  .table-last{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  .tbl-r05 {
    width: 100%;
  }
  .tbl-r05 .thead {
    display: none;
  }
  .tbl-r05 tr {
    width: 100%;
  }
  .tbl-r05 td {
    display: block;
    text-align: right;
    width: 100%;
  }
  .tbl-r05 td:first-child {
    background: #BBBBBB;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .tbl-r05 td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

/*danka/showのテーブル*/
@media screen and (min-width: 900px)and (max-width: 1050px){
  .min-table{
    display: none;
  }
}
@media screen and (max-width: 900px){
  .pon{
    display: none;
  }
  .min-table{
    width: 80%;
    margin: auto;
  }
  .min-table th{
    text-align: center;
    border-top: 3px solid #BBBBBB;
  }
  .min-table td{
    border-bottom: 1px solid #BBBBBB;
    line-height: 2rem;
  }
  .min-table td:before {
    content: attr(data-label);
  }
  .min-table p{
    display: inline-block;
  }
  .btns{
    text-align: center;
  }
}
