main{
  height: 850px;
  width: 564px;
}
.kaiki{
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  border: 1px solid black;
}
.rotate{
  -webkit-text-combine: horizontal;
}
.k-indent{
  text-indent: 1rem;
}
.k-main{
  font-size: 18px;
}
.k-line{
  line-height: 3rem;
}
