// Place all the styles related to the pasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-last{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
}
.last-td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  width:200px;
  margin:0px;
  padding:0px;
}

.tbl-r05 td:first-child{
  text-align: center;
}
@media screen and (min-width: 1050px){
  .tbl-r05{
    margin-left: 4rem;
    margin-right: 4rem;
    width: 80%;
  }
  .past-list{
    font-size: 1.2rem;
    line-height: 3rem;
    width: 100%;
  }
  .tbl-r05 th{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .tbl-r05 td{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .t-1{
    width: 7%;
    text-align: center;
  }
  .t-2{
    width: 15%;
  }
  .t-3{
    width: 25%;
  }
  .t-4{
    width: 15%;
  }
  .t-5{
    width: 10%;
  }
  .t-6{
    width: 15%;
  }
}


@media screen and (min-width: 751px)and (max-width: 1049px) {
  .past-list{
    font-size: 1.2rem;
    line-height: 3rem;
    width: 100%;
  }
  .tbl-r05{
  margin-right: 2rem;
  margin-left: 2rem;
  }
  .tbl-r05 th{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .tbl-r05 td{
    height: 4rem;
    border-bottom: 3px solid #BBBBBB;
  }
  .t-1{
    width: 7%;
  }
  .t-2{
    width: 15%;
  }
  .t-3{
    width: 25%;
  }
  .t-4{
    width: 15%;
  }
  .t-5{
    width: 10%;
  }
  .t-6{
    width: 15%;
  }
}


@media screen and (max-width: 750px) {
  .tbl-r05 {
    width: 100%;
  }
  .tbl-r05 .thead {
    display: none;
  }
  .tbl-r05 tr {
    width: 100%;
  }
  .tbl-r05 td {
    display: block;
    text-align: right;
    width: 100%;
  }
  .tbl-r05 td:first-child {
    background: #BBBBBB;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .tbl-r05 td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}
