// Place all the styles related to the pasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.kaiki{
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin-left: 10rem;
  height: 794px;
  width: 1366px;
  font-size: 1.0rem;
}

.k-indent{
  text-indent: 1rem;
}
.k-head{
  margin-right: 3rem;
  margin-left: 5rem;
  margin-top: 7rem;
}
.k-main{
  margin: 3rem 3rem 4rem 2rem;
  font-size: 18px;
}
.k-big{
  font-size: 28px;
}
.k-line{
  line-height: 3rem;
}
.k-end{
  margin: 20rem 0 2rem 0;
}
.k-address{
  margin-top: 1rem;
}
.table-last{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
}
.last-td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  width:200px;
  margin:0px;
  padding:0px;
}
