// Place all the styles related to the pasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-last{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
}
.last-td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  width:200px;
  margin:0px;
  padding:0px;
}
