<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <% user = User.find(current_user.id) %>
  <a class="navbar-brand mr-3" href="#"><%= user.name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">ホーム</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dankas">檀家名簿</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pasts">過去帳</a>
      </li>
      <li class="nav-item">
        <% id = current_user.id %>
        <a class="nav-link" href="/home/userpage/<%= id %>">ユーザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/test">テスト</a>
      </li>
    </ul>
  </div>
  </nav>
</header>
