<header>
  <div class="mt-">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-brand">
        お寺の名前
      </div>
      <div class="">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/dankas" class="nav-link">ホーム</a>
          </li>
        </ul>
    </nav>
  </div>
</header>
